{% extends 'base.html.twig' %}

{% block body %}
<div class="row">
    <h1>Nouvelle catégorie</h1>

    {{ form_start(form, { 'attr': {'class': 'col s12 centered'}}) }}
    {{ form_row(form.name, { 'attr': {'class': 'row'},'label':'Nom'}) }}
    {{ form_row(form.submit, { 'attr': {'class': 'btn waves-effect waves-light
'},'label':'Ajouter'}) }}

    {{ form_end(form) }}
</div>
{% endblock %}
